// white mode colors

$my-blue: #55b2cf;
$my-red: #cf5555;
$my-black: black;
$my-white: white;
$hover-color: rgba(226, 226, 226, 0.63);
$gray-basic: #F5F5F5;
$gray-txet: rgb(167, 167, 167);
$gray-hard: rgb(210, 210, 210);